.card {
    width: -webkit-fill-available;
    max-width: 500px;
    height: fit-content;
    padding: 10px;
    background-color: #A3C4BC;
    border-radius: 8px;
    &__content {
      border-radius: 8px;
      background-color: #FFF;
      &__container{
        display: flex;
        justify-content: space-between;
        &__text {
          color: #413C58;
          font-family: Lato;
          font-size: 20px;
          font-weight: 700;
        }
        &__fav {
          color: red;
        }
      }
    }
  }
  .cards {
    left: 30%;
  }

  .button-container {
    text-align: center;
  }
  
  .button {
    background-color: #B279A7;
    color: #FFF;
    text-transform: none;
    &:hover {
      background-color: #874f7b;
    }
  }
  .delete-icon {
    color: #874f7b;
  }

  .itineraries-title {
    padding: 18px 0px;
    color: #413C58;
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
  }
  .itinerary-name {
    text-align: center;
    color: #413C58;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
  }

.no-itineraries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  gap: 10px;
}