.attractions {
  height: 102%;
  width: 100vw;

  &__stepper {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  &__text {
    color: #413C58;
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0px;
  }
  &__arrows {
    width: 83px;
    height: 83px;
    color: #B279A7;
    padding: 0px 45px;
  }
  &__container {
    display: flex;
    height: -webkit-fill-available;
    justify-content: space-between;
    align-items: center;
    &__content {
      display: flex;
      flex-direction: column;
      height: inherit;
      width: 60%;
    }

  }
  .balloons-image {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}