
.modal-modal-title {
    color: #413C58;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.modal-modal-description {
    color: #413C58;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
}

.modal-modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}