.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5fb;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  background-color: #A3C4BC;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-title {
  font-size: 36px;
  color: #3B3B4F;
  margin-bottom: 24px;
  text-align: center;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submit-button {
  background-color: #413C58;
  color: #ffffff;
  font-weight: 700;
  border-radius: 8px;
  height: 48px;
  &:hover {
    background-color: #2E2B42;
  }
}

.link {
  margin-top: 20px;
  color: #3B3B4F;
  text-align: center;
  font-size: 14px;
}
